.loading-overlay {
    position: absolute;
    z-index: 99;
    height: calc(100% - 58px);
    width: 100%;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(20px);
    /* transition: all .2s ease-in; */
    border-right: 1px solid var(--twitter-bg);
    display: inline-block;
}

.vis-hidden {
    visibility: hidden;
    background: transparent;
}



.main {
    position: relative;
    padding-bottom:  58px;
    flex: 1;
}
@media (min-width: 480px) {
    .main {
        padding-bottom:  12px;
    }
}
@media (min-width: 960px) {
    .main {
        width: 600px;
    }
}


.feed .main-header {
    justify-content: space-between;
}

.main-header {
    position: sticky;
    top: 0;
    width: calc(100% - 1px);
    z-index: 100;
    background: rgba(246, 248, 248, 0.85);
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--twitter-bg);
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
}

@media (min-width: 480px) {
    .main-header {
        background: rgba(255, 255, 255, 0.85);
    }
}


.main-header h2 {
    font-size: 20px;
    font-weight: 700;
}

.main-header .iconBox svg {
    color:var(--font-color) !important;
    font-size: 22px !important;
}

.main-header .iconBox:hover {
    background-color: var(--twitter-bg);
}


.tweetBox-container {
    display: none;
}

@media (min-width: 480px) {
    .tweetBox-container {
        display: inline-block;
        width: 100%;
        padding: 4px 16px 12px 16px;
        border-bottom: 2px solid var(--twitter-bg);
    }
}
.posts-container {
    margin: 0;
    padding: 0;
}